<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226170811222-allbpt4ao0ip82njo00ojhl3acriortj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226170811222-allbpt4ao0ip82njo00ojhl3acriortj</string>
	<key>API_KEY</key>
	<string>AIzaSyAX3rFy1LuZ0osbsq0fOphjdg9bKz-dhos</string>
	<key>GCM_SENDER_ID</key>
	<string>226170811222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.y-fi.freeYFi</string>
	<key>PROJECT_ID</key>
	<string>free-y-fi</string>
	<key>STORAGE_BUCKET</key>
	<string>free-y-fi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226170811222:ios:621593efffe6a13b775cf7</string>
</dict>
</plist>